/*resetando as margens*/
*{
    margin: 0;
    padding: 0;
}   
    
/*definindo tamanho dos container gerais*/
#container-azul{
    height: 100vh;
    background: #2B4B87;
    overflow: hidden;
}

#container-branco{
    height: 70%;
    width: 40%;
    margin: 8% auto;
    border-radius: 15px;
    background: #fff;
}

/*formulário*/
#frm-login{
    height: 80%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

.container-input{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.container-botao{
    width: 80%;
    margin: 0 auto;
}

label{
    color: black;
}

a{
    color: black;
    text-align: center;
    padding-top: 15px;
}

input.input-texto{
    display: block;
    width: 80%;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
}

button#btn-login{
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    color: #fff;
    background: #2B4B87;
}