/*importando a fonte*/@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

/*resetando o css e definindo a fonte*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*---CONTAINERS---*/
.container-azul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2B4B87;
    min-width: 630px;
}

.container-branco{
    display: flex;
    height: 85%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.bloco-central {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    background: #bfd5f55d;
}

/*---TITULOS---*/
.titulo {
    font-size: 28px;
    font-weight: bold;
    color: #2B4B87;
    margin-bottom: 15px;
    border-bottom: 2px solid #2B4B87;
}

.descricao {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: #7f8c8d;
    text-align: left;
}

/*---FORMULÁRIO---*/
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

/*imagem do formulário*/
.img-form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15%;
}

.img-form img{
    width: 35%;
}

/*inputs*/
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #fff;
}

.label-input {
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 8px;

}

input::-webkit-input-placeholder /*essa classe define o espaço placehoder da borda do input*/
{    
    padding-left: 20px;
}

/*botao*/
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    background-color: #2B4B87;
    border: 1px solid #2B4B87;
    transition: background-color .5s;
}

.btn:hover {
    background-color: #fff;
    border: 1px solid #2B4B87;
    color: #2B4B87;
}

/*link*/

.link {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

/*REDEFINIR SENHA*/
.texto-email{
    margin: 15px 0px;
    padding: 10px;
    background: #bbd3f7;
    border-radius: 30px;
}

.texto-email p{
    padding-left: 10px;
}